:root {
    --main-yellow: rgb(255,188,66);
    --main-black: rgba(10,24,25,1);
    --grey-background: rgba(248,248,248,1);
}

* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    position: relative;
}
.wrapper {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.main-nav {
    width: 100%;
    height: 100px;
    background-color: var(--grey-background);
    box-shadow: 0px 1px 3px rgb(192, 192, 192);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 800;
    left:0;
    top:0;   
}
.main-nav__logo {
    margin-left: 70px;
}
.main-nav__logo-img {
    width: 200px;
}
.main-nav__right-container {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}
.main-nav__section {
    list-style: none;
}
.main-nav__section > a {
    text-decoration: none;
    color: var(--main-black);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 0;
    margin: 0px 20px;
}
#main-nav__quote-btn {
    background-color: var(--main-yellow);
    padding: 10px 20px;
    transition: .2s all ease-in;
}
#main-nav__quote-btn:hover {
    filter: brightness(.9);
}
#main-nav__nonActive-section:hover {
border-bottom: 3px solid var(--main-yellow);
}
.home-main {
    width: 100%;
    height: 100%;
    position: relative;
}
.home-main__background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.home__hero-section {
    position: absolute;
    height: 525px;
    width: 800px;
    background-color: white;
    margin-top: 50px;
    margin-left: 65px;
    z-index: 2;
}
.hero-section__text {
    text-align: left;
    font-size: 4.5rem;
    white-space: pre-line;
    color: var(--main-black);
    font-weight: 700;
    line-height: 1.25;
   padding: 60px 60px;
}
.hero-section__text > span {
    color: var(--main-yellow);
}
.hero-section__quote-btn {
    border: none;
    background-color: var(--main-yellow);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--main-black);
    font-weight: 700;
    padding: 20px 25px;
    margin-left: 60px;
    transition: .2s all ease-in;
}
.hero-section__quote-btn:hover {
    filter: brightness(.9);
}
.home__details {
    width: 100%;
    height: 360px;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
}
.home__details-text {
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    white-space: pre-wrap;
    z-index: 2;
    padding: 0 130px;
}
.home__services {
    width: 100%;
    background-color: white;
    text-align: center;
}
.home__services-h1 {
    margin-top: 75px;
    font-weight: 700;
    font-size: 2.4rem;
}
.home__services-h1 > span {
    color: var(--main-yellow);
}
.home__services-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    margin-top: 75px;
}
.home__service {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.home__service-img {
    max-width: 65%;
    margin-top: 40px;
    max-width: 150px;
}
.home__service-img.four {
    max-width: 33%;
}
.home__service-img.two {
    max-width: 40%;
}
.home__service-img.three {
    max-width: 40%;
}
.home__service-title {
    font-weight: 700;
    color: var(--main-black);
    padding-top: 25px;
    font-size: 1.25rem;
    max-width: 65%;
}
.home__service-text {
    max-width: 65%;
    font-size: 1.1rem;
    padding-top: 25px;
    line-height: 1.75;
    color: var(--main-black);
}
#home__service-yellow-bg {
    background-color: var(--main-yellow);
}
.home__footer {
    background-color: var(--main-black);
    width: 100%;
    text-align: center;
    padding: 70px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.home__footer-title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    padding: 20px 0 30px;
}
.home__footer-title > span {
    color: var(--main-yellow);
}
.home__footer-quote-btn {
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-black);
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    padding: 15px 25px;
    cursor: pointer;
    transition: .2s all ease-in;
}
.home__footer-quote-btn:hover {
    filter: brightness(.9);
}
.home__footer-modal-open-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    background-color: var(--main-black);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.home__footer-quote-form {
    position: absolute;
    background-color: white;
    height: 500px;
    width: 700px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    flex-direction: column;
    align-items: center;
    display: none;
}
.quote-form__exit {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    cursor: pointer;
    transition: .2s all ease-in;
}
.quote-form__exit:hover {
    filter: brightness(.9);
}
.quote-form__title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 80px;
    padding-bottom: 35px;
}
.quote-form__title > span {
    color: var(--main-yellow);
}
.quote-form__input {
    width: 500px;
    padding: 12px;
    font-size: 1.05rem;
    margin-bottom: 15px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}
#quote__text-area {
    height: 100px;
    max-height: 130px;
    vertical-align: top;
    display: block;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
}
.quote-form__input:focus {
    outline: 2px solid var(--main-yellow);
}
.quote-form__btn {
    width: 500px;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--main-yellow);
    padding: 12px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s all ease-in;
}
.quote-form__btn:hover {
    filter: brightness(.9);
}

.home__footer-Phone {
    color: var(--main-yellow);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.home__footer-Phone > span {
    font-weight: 400;
    margin-top: 10px;
}
.footer__social-icons {
    margin-top: 30px;
    display: flex;
}
.footer__icon {
    color: white;
    font-size: 1.45rem;
    padding: 10px 13px;
    text-decoration: none;
    transition: .2s all ease-in;
}
.footer__icon:hover {
    background-color: rgb(30,73,76);
} 
.footer__copyright {
color: white;
margin-top: 20px;
font-size: .95rem;
}