:root {
    --main-yellow: rgb(255,188,66);
    --main-black: rgba(10,24,25,1);
    --grey-background: rgba(248,248,248,1);
}

* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapper {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.main-nav {
    width: 100%;
    height: 100px;
    background-color: var(--grey-background);
    box-shadow: 0px 1px 3px rgb(192, 192, 192);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 800;
    left:0;
    top:0;   
}
.main-nav__logo {
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;
}
.main-nav__logo-img {
    width: 200px;
}
.main-nav__right-container {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}
.main-nav__section {
    list-style: none;
}
.main-nav__section > a {
    text-decoration: none;
    color: var(--main-black);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 0;
    margin: 0px 20px;
}
#main-nav__quote-btn {
    background-color: var(--main-yellow);
    padding: 10px 20px;
    transition: .2s all ease-in;
}
#main-nav__quote-btn:hover {
    filter: brightness(.9);
}
#main-nav__nonActive-section:hover {
border-bottom: 3px solid var(--main-yellow);
color: var(--main-yellow);
}
#main-nav__Active-section {
    color: var(--main-yellow);
    border-bottom: 3px solid var(--main-yellow);
}
.main-nav__mobile-menu-icon {
    list-style: none;
    display: none;
    margin-left: auto;
    margin-right: 50px;
}
.main-nav__mobile-menu-icon > i {
    color: var(--main-yellow);
    font-size: 2rem;
}
.mobile__nav-sideBar {
    position: absolute;
    top: 0;
    background-color: var(--grey-background);
    right: 0;
    z-index: 3000;
    height: 100%;
    width: 0px;
}
.mobile__sideBar-close-btn {
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.9rem;
    color: var(--main-yellow);
    display: none;
}
.mobile-sideBar__nav {
    flex-direction: column;
    padding: 40px 25px;
    gap: 15px;
    display: none;
}
.mobile-sideBar__nav > a {
text-decoration: none;
color: var(--main-black);
}
.mobile-sideBar__section {
    list-style: none;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 5px 10px;
    color: var(--main-black);
}
#mobile-sideBar__active {
    border-left: 3px solid var(--main-yellow);
    color: var(--main-yellow);
}
.mobile-sideBar__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--main-yellow);
    width: 200px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 0;
    color: var(--main-black);
    display: none;
}
.mobile-sideBar__logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 180px;
    display: none;
}
.mobile-sideBar__logo > img {
    width: 100%;
}









.home-main {
    width: 100%;
    height: 100%;
    position: relative;
}
.home-main__background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.home__hero-section {
    position: absolute;
    height: 525px;
    width: 800px;
    background-color: white;
    margin-top: 50px;
    margin-left: 65px;
    z-index: 2;
}
.hero-section__text {
    text-align: left;
    font-size: 4.5rem;
    white-space: pre-line;
    color: var(--main-black);
    font-weight: 700;
    line-height: 1.25;
   padding: 60px 60px;
}
.hero-section__text > span {
    color: var(--main-yellow);
}
.hero-section__quote-btn {
    border: none;
    background-color: var(--main-yellow);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--main-black);
    font-weight: 700;
    padding: 20px 25px;
    margin-left: 60px;
    transition: .2s all ease-in;
}
.hero-section__quote-btn:hover {
    filter: brightness(.9);
}
.home__details {
    width: 100%;
    height: 360px;
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home__details-text {
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    white-space: pre-wrap;
    z-index: 2;
    max-width: 1000px;
}
.home__services {
    width: 100%;
    background-color: white;
    text-align: center;
}
.home__services-h1 {
    margin-top: 75px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
}
.home__services-h1 > span {
    color: var(--main-yellow);
}
.home__services-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    margin-top: 75px;
}
.home__service {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.home__service-img {
    max-width: 65%;
    margin-top: 40px;
    max-width: 150px;
}
.home__service-img.four {
    max-width: 33%;
}
.home__service-img.two {
    max-width: 40%;
}
.home__service-img.three {
    max-width: 40%;
}
.home__service-title {
    font-weight: 700;
    color: var(--main-black);
    padding-top: 25px;
    font-size: 1.25rem;
    max-width: 65%;
}
.home__service-text {
    max-width: 65%;
    font-size: 1.1rem;
    padding-top: 25px;
    line-height: 1.75;
    color: var(--main-black);
}
#home__service-yellow-bg {
    background-color: var(--main-yellow);
}
.main__footer {
    background-color: var(--main-black);
    width: 100%;
    text-align: center;
    padding: 70px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main__footer-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    padding: 20px 0px 30px;
}
.main__footer-title > span {
    color: var(--main-yellow);
}
.main__footer-quote-btn {
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-black);
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    padding: 15px 25px;
    cursor: pointer;
    transition: .2s all ease-in;
}
.main__footer-quote-btn:hover {
    filter: brightness(.9);
}
.main__footer-modal-open-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    background-color: var(--main-black);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.main__footer-quote-form {
    position: absolute;
    background-color: white;
    height: 500px;
    width: 700px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    flex-direction: column;
    align-items: center;
    display: none;
}
.quote-form__exit {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(104, 104, 104);
    cursor: pointer;
    transition: .2s all ease-in;
}
.quote-form__exit:hover {
    filter: brightness(.9);
}
.quote-form__title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 80px;
    padding-bottom: 35px;
}
.quote-form__title > span {
    color: var(--main-yellow);
}
.quote-form__input {
    width: 70%;
    padding: 12px;
    font-size: 1.05rem;
    margin-bottom: 15px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}
#quote__text-area {
    height: 100px;
    max-height: 130px;
    display: block;
    font-family: 'Poppins', sans-serif;
    resize: vertical;
}
.quote-form__input:focus {
    outline: 2px solid var(--main-yellow);
}
.quote-form__btn {
    width: 70%;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--main-yellow);
    padding: 12px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s all ease-in;
}
.quote-form__btn:hover {
    filter: brightness(.9);
}

.main__footer-Phone {
    color: var(--main-yellow);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.main__footer-Phone > span {
    font-weight: 400;
    margin-top: 10px;
}
.footer__social-icons {
    margin-top: 30px;
    display: flex;
}
.footer__icon {
    color: white;
    font-size: 1.45rem;
    padding: 10px 13px;
    text-decoration: none;
    transition: .2s all ease-in;
}
.footer__icon:hover {
    background-color: rgb(30,73,76);
} 
.footer__copyright {
color: white;
margin-top: 20px;
font-size: .95rem;
}
#services__nav {
    box-shadow: 0px 1px 3px rgb(133, 133, 133);
}
.services__main {
    width: 100%;
    height: 500px;
    min-height: 50vh;
    background-image: linear-gradient(rgba(10, 24, 25, 0.41), rgba(10, 24, 25, 0.41)), url(https://lh3.googleusercontent.com/i_F4sXggU7qWRD23SHWpsOfy8dRfP92jMu3P2zsZatT2YjJ2gHdr9sVtiHOMB1EzGpojKBmxVKR62bxXbY-gjZsRE8RT8Xnkjg=w1603);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__main-h1 {
    color: white;
    font-weight: 700;
    font-size: 3.9rem;
}
.services__main-h1 > span  {
    color: var(--main-yellow);
}
.services__services-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 100px;
    gap: 30px;
    padding-bottom: 30px;
}
.service-container {
    display: flex;
    width: 100%;
}
.service__img-container {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service__img-container.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/lve14kbKhmr34HsI0kbJk_UtLpMmcV_gzONKddUWf8P_6-TqWnNvcBpF1-SrsxQZLKDVKVad82ACSZsw98Y71Icg4adCzTXLLveL=w670);
}
.service__img-container.two  {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/et9I-5vKkpU8SLxGL0VGkELRHN8XDIK3EDeI3MLozUL9lzjZPw3SgAZWusmeOp1xefOh_5My5jLrEeWNtG3mU26FbBRJ8aXEm_xm=w670);
}
.service__img-container.three  {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/C8VW97S_4dhVHfh1Q66KiFslH_vcaYkWkoJyAy59wNy3WT5k48GyEvuqXksZDmRt9Rtk-v9g6wjQAfD8hGz2znkcsu5Ca_4wf7I=w670);
}
.service__img-container.four  {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/mwrqfbnCF_aQyO3wLPpJxGc8he400EhaYTMi6i6uYsGn8WwM0sMIJhmB3t20YPYvHaADgyuViQRdtikdjOQrxx8ZNcF1vKFS2w=w670);
}
.service__details {
    width: 50%;
    background-color: var(--main-black);
}
.service__details > h3 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 40px 40px 20px;
}
.service__details > p {
    color: white;
    font-size: 1.3rem;
    padding: 10px 50px 30px 40px;
    line-height: 1.6;
}
#service-container__yellow-bg {
    background-color: var(--main-yellow);
}
#service-container__yellow-bg h3,
#service-container__yellow-bg p
{
 color: var(--main-black);
}
.about__main {
    padding: 30px 70px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.about__main-img-container {
    width: 300px;
    min-width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/TNCl6MnBCSbEbPsE0kjSUC7brgkWXop0xdWonUXylolqZEga7__n61w9RhEfh-aJF-1iy09QAJZpBSBs79a8cK3yL7La4lZghV8=h1158-c);
}
.about__main-content {
    max-width: 1140px;
    padding-top: 35px;
}
.main-content__h2  {
font-size: 3.4rem;
font-weight: 700;
line-height: 1.2;
color: var(--main-black);
padding-bottom: 30px;
}
.main-content__h2 > span {
    color: var(--main-yellow);
}
.main-content__p {
line-height: 1.7;
color: var(--main-black);
padding-bottom: 30px;
max-width: 950px;
font-size: 1.5rem;
text-align: left;
font-weight: 400;
}
.contact__main {
    width: 100%;
    height: 500px;
    min-height: 50vh;
    background-image: linear-gradient(rgba(10, 24, 25, 0.41), rgba(10, 24, 25, 0.41)), url(https://lh3.googleusercontent.com/i_F4sXggU7qWRD23SHWpsOfy8dRfP92jMu3P2zsZatT2YjJ2gHdr9sVtiHOMB1EzGpojKBmxVKR62bxXbY-gjZsRE8RT8Xnkjg=w1603);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__main-h1 {
    color: white;
    font-weight: 700;
    font-size: 3.9rem;
    text-align: center;
    line-height: 1.1;
}
.contact__main-h1 > span  {
    color: var(--main-yellow);
}
.contact__connect-wrapper {
    width: 1000px;
    padding: 50px 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.contact__title {
    font-size: 2rem;
    font-weight: 700;
    padding: 25px 0;
    color: var(--main-black);
}
.contact__p {
    color: var(--main-black);
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.contact__quote-form {
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
#contact__input {
    height: 55px;
}

#contact__btn {
    height: 55px;
    font-size: 1.3rem;
}
.contact__footer-Phone {
    color: var(--main-yellow);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.contact__footer-Phone > span {
    font-weight: 400;
    padding-top: 10px;
}

@keyframes large-mobile-sideBar-open {
    0% {
        width: 0px;
    }
    100% {
        width: 440px;
    }
}
@keyframes large-mobile-sideBar-close {
    0% {
        width: 440px;
    }
    100% {
        width: 0px;
    }
}
@keyframes small-mobile-sideBar-open {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes small-mobile-sideBar-close {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}


@media screen and (max-width: 1023.98px) {
    .main-nav__logo {
        margin-left: 50px;
    }
    .main-nav__right-container {
        display: none;
    }
    .main-nav__mobile-menu-icon {
        display: block;
    }
    .home__hero-section {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 700px;
        height: 500px;
    }
    .home__details-text {
        max-width: 720px;
        font-size: 1.3rem;
    }
    .home__services-container {
        flex-direction: column;
        width: 760px;
    }
    .home__service {
        width:100%;
        max-width: 100%;
    }
    .main__footer-title {
        max-width: 768px;
    }
    .services__main-h1 {
        max-width: 760px;
        text-align: center;
    }
    .services__services-wrapper {
        width: 760px;
    }
    .service-container {
        flex-direction: column;
        gap: 15px;
    }
    .service__img-container {
        width: 100%;
        height: 250px;
    }
    .service__details {
        width: 100%;
    }
    .about__main {
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 760px;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .about__main-img-container {
        width: 100%;
        height: 200px;
        background-position: bottom;
    }
    .about__main-content {
        padding: 15px 0 0;
    }
    .main-content__h2 {
        padding: 0 0 20px;
    }
    .main-content__p {
        text-align: center;
    }
    .contact__main-h1 {
        max-width: 600px;
    }
    .contact__connect-wrapper {
        width: 760px;
        padding: 50px 0;
    }
    .contact__quote-form {
        width: 760px;
    }
}
@media screen and (max-width: 789.98px) {
    .home__hero-section {
        width: 80%;
        min-width: 520px;
        height: 470px;
    }
    .hero-section__text {
        font-size: 3.7rem;
        white-space: normal;
        padding: 50px 20px 80px 30px;
    }
    .hero-section__quote-btn {
        margin-left: 30px;
    }
    .home__details {
        height: 370px;
    }
    .home__details-text {
        min-width: 510px;
        width: 85%;
        font-size: 1.3rem;
    }
    .home__services-container {
        width: 80%;
        margin-top: 40px;
    }
    .home__service-text {
        max-width: 80%;
    }
    .main__footer-title {
        font-size: 2.5rem;
        max-width: 520px;
    }
    .main__footer-quote-btn {
        font-size: 1.2rem;
        padding: 12px 22px;
    }
    .main__footer-Phone {
        font-size: 1.3rem;
        margin-top: 90px;
    }
    .services__main-h1 {
        max-width: 520px;
        font-size: 3.5rem;
        line-height: 1.1;
    }
    .services__services-wrapper {
        width: 90%;
        min-width: 520px;
        margin-top: 50px;
    }
    .about__main {
        width: 85%;
        min-width: 520px;
    }
    .main-content__h2 {
        font-size: 3.1rem;
    }
    .main-content__p {
        font-size: 1.4rem;
    }
    .contact__main-h1 {
        max-width: 520px;
        font-size: 3.5rem;
    }
    .contact__connect-wrapper {
        width: 85%;
        min-width: 550px;
        padding: 50px 0;
    }
    .contact__quote-form {
        width: 100%;
    }
    #contact__btn {
        font-size: 1.2rem;
    }
    .contact__footer-Phone {
        font-size: 1.3rem;
    }
    .main__footer-quote-form {
        width: 500px;
        height: 480px;
    }
  
}
@media screen and (max-width:549.98px) {
    .main-nav__logo {
        margin-left: 25px;
    }
    .main-nav__logo-img {
        width: 160px;
    }
    .main-nav__mobile-menu-icon {
        margin-right: 25px;
    }
    .main-nav__mobile-menu-icon > i {
        font-size: 1.8rem;
    }
    .home__hero-section {
        width: 90%;
        min-width: 420px;
        height: 470px;
    }
    .hero-section__text {
        font-size: 3.45rem;
        white-space: normal;
        padding: 50px 10px 60px 30px;
    }
    .hero-section__quote-btn {
        font-size: 1.2rem;
        padding: 20px 30px;
    }
    .home__details {
        width: 100%;
        height: 380px;
        background-color: var(--main-black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home__details-text {
        min-width: 420px;
        width: 85%;
        font-size: 1.25rem;
    }
    .home__services-container {
        width: 90%;
        margin-top: 20px;
    }
    .home__services-h1 {
        font-size: 2.3rem;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
    .main__footer-title {
        font-size: 2.35rem;
        max-width: 440px;
    }
    .main__footer-Phone {
        font-size: 1.2rem;
        margin-top: 70px;
    }
    .footer__icon {
        color: white;
        font-size: 1.35rem;
    }
    .services__main-h1 {
        max-width: 440px;
        font-size: 3.2rem;
        line-height: 1.1;
    }
    .services__services-wrapper {
        width: 94%;
        min-width: 420px;
    }
    .service__details > h3 {
        font-size: 1.3rem;
    }
    .service__details > p {
        font-size: 1.15rem;
    }
    .about__main {
        width: 90%;
        min-width: 420px;
    }
    .about__main-img-container {
        width: 100%;
        height: 220px;
        background-position: bottom;
    }
    .about__main-content {
        padding: 0px 0 0;
    }
    .main-content__h2 {
        font-size: 2.7rem;
    }
    .main-content__p {
        font-size: 1.2rem;
        padding-left: 5px;
        padding-right: 5px;
    }
    .contact__main-h1 {
        max-width: 420px;
        font-size: 3.2rem;
    }
    .contact__connect-wrapper {
        width: 90%;
        min-width: 420px;
        padding: 50px 0;
    }
    .contact__title {
        font-size: 1.8rem;
    }
    .quote-form__input {
        width: 90%;
        padding: 12px;
        font-size: .95rem;
    }
    .quote-form__btn {
        width: 90%;
    }
    #contact__btn {
        font-size: 1.1rem;
    }
    .contact__footer-Phone {
        font-size: 1.2rem;
    }
    .main__footer-quote-form {
        width: 90%;
        height: 460px;
        min-width: 420px;
    }
    .quote-form__title {
        font-size: 1.7rem;
        margin-top: 80px;
        padding-bottom: 35px;
    }
    .quote-form__exit {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 25px;
        width: 25px;
    }
}
@media screen and (max-width:439.98px) {
    .home__hero-section {
        width: 92%;
        min-width: 280px;
        height: 430px;
    }
    .hero-section__text {
        font-size: clamp(2.5rem, 12vw, 3.4rem);
        white-space: normal;
        padding: 40px 20px 60px 20px;
    }
    .hero-section__quote-btn {
        font-size: 1.1rem;
        margin-left: 20px;
        padding: 15px 30px;
    }
    .home__details {
        width: 100%;
        height: unset;
}
.home__details-text {
    min-width: 280px;
    width: 90%;
    font-size: 1.15rem;
    padding: 40px 0;
}
.home__services-h1 {
    font-size: 2.1rem;
    max-width: 320px;
}
.main__footer {
    padding: 45px 0px 30px;
}
.main__footer-title {
    font-size: 2.15rem;
    max-width: 320px;
    padding: 0px 0px 30px;
}
.main__footer-Phone {
    font-size: 1.1rem;
    margin-top: 50px;
}
.services__main {
    height: 400px;
    min-height: 45vh;
}
.services__main-h1 {
    max-width: 380px;
    font-size: 2.4rem;
    line-height: 1.1;
}
.services__services-wrapper {
    width: 94%;
    min-width: 290px;
}
.service__details > h3 {
    font-size: 1.15rem;
    padding: 40px 30px 20px;
}
.service__details > p {
    font-size: 1.05rem;
    padding: 10px 30px 30px 30px;
}
.about__main {
    width: 92%;
    min-width: 280px;
}
.about__main-img-container {
    width: 100%;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.main-content__h2 {
    font-size: 2.4rem;
}
.main-content__p {
    font-size: 1.05rem;
    padding-left: 5px;
    padding-right: 5px;
}
.contact__main {
    height: 400px;
    min-height: 45vh;
}
.contact__main-h1 {
    max-width: 380px;
    font-size: 2.4rem;
    line-height: 1.1;
}
.contact__connect-wrapper {
    width: 90%;
    min-width: 300px;
    padding: 35px 0;
}
.contact__title {
    font-size: 1.5rem;
    text-align: center;
}
.contact__p {
    font-size: 1.1rem;
}
.contact__footer-Phone {
    font-size: 1.1rem;
    max-width: 320px;
}
.main__footer-quote-form {
    width: 90%;
    height: 460px;
    min-width: 280px;
}
.quote-form__title {
    font-size: 1.6rem;
    max-width: 280px;
    text-align: center;
    line-height: 1.2;
    margin-top: 70px;
    padding-bottom: 25px;
}
.quote-form__input {
    font-size: .9rem;
}
.quote-form__btn {
    font-size: 1rem;
}

}